.search-form {
  display: flex;
  width: 100%;
  max-width: 608px;
  margin-top: 64px;
  box-sizing: border-box;
}

.search-form__input {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #e8e8e8;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  box-sizing: border-box;
  outline: none;
}

.search-form__input::placeholder {
  color: #b6bcbf;
}

.search-form__button {
  background-color: #2f71e5;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 20px 30px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-left: -48px;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .search-form {
    margin-top: 40px;
  }
  .search-form__input {
    padding: 16px 20px;
  }
  .search-form__button {
    padding: 16px 24px;
    margin-left: -40px;
  }
}

@media screen and (max-width: 550px) {
  .search-form {
    flex-direction: column;
    margin-top: 32px;
    padding: 0 16px;
  }
  .search-form__input {
    width: 100%;
    margin-bottom: 16px;
  }
  .search-form__button {
    width: 100%;
    margin-left: 0;
    border-radius: 10px;
  }
}
