html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ensure html and body take full height */
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  position: relative; /* Add position relative to body */
}

#root {
  width: 100%;
  height: 100%;
}

/* Apply the full-page background image to the .app-container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* This should now correctly position the footer */
  background-image: url("./assets/images/background-image__georgia-de_lotz--UsJoNxLaNo-unsplash.png");
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Keep background fixed when scrolling */
}
